*{
    margin: 0;
    padding: 0;
}
:root{
    --darkColor: #201705;
    --lightColor: #f7f7f7;
    --offWhite: rgba(217, 217, 217, 0.4);
    --accentColor : #9198b3;
    --smallFont : 1em;
    --text-color: #f7f7f7;
    --call-to-action-color: #E17816;
}

body{
    background-color: #421B04;
}

a{
    text-decoration: none;
}

.black_gradient{
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6) 65%, rgba(0,0,0,0) 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: -1;
}

@media only screen and (max-width: 650px){
    :root{
        font-size: 14px;
    }
}
@media only screen and (max-width:750px) {
    :root{
        font-size: 15px;
    }
}